@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazirmatn-wght.woff2') format('woff2 supports variations'),
         url('../fonts/Vazirmatn-wght.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}