:root{
    --white-color : #ffff;
    --black-color : #000000;

    --primary-color : #03001C;
    --secondary-color : #301E67;
    --third-color : #5B8FB9;
    --text-color : #B6EADA;
    
    --accent-color : #1b6350; 
    --darkaccent-color: #175343;
}