{% extends 'patterns/base_dashboard.html' %}
{% load static %}

{% block title %}پروفایل من{% endblock %}

{% block content %}
    <main class="dashboard-main" id="main-content">
        <header class="dashboard-top-nav">
            <button id="sidebar-toggle" class="toggle-btn" onclick="toggleSidebar()">
                <span></span><span></span><span></span>
            </button>
            <h2 class="page-title">پروفایل</h2>
        </header>

        <div class="profile-container">
            <div class="login-card" style="max-width: 600px; margin-top: 0;"> 
                <div class="profile-header">
                    <div class="large-avatar">
                        <i class="fa-solid fa-user-pen"></i>
                    </div>
                    <p style="margin-bottom: 20px; opacity: 0.8;">اطلاعات کاربری خود را در این بخش مشاهده و ویرایش کنید.</p>
                </div>
                <form action="{% url 'profile_' %}" method="POST" class="register-form">
                    {% csrf_token %}
                    
                    <div class="input-group">
                        <label for="first-name">نام</label>
                        <input type="text" id="first-name" name="first_name" value="{{ form.first_name.value|default:user.first_name }}" required>
                        {% if form.first_name.errors %}
                            {% for error in form.first_name.errors %}
                                <span class="span-error" >{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="input-group">
                        <label for="last-name">نام خانوادگی</label>
                        <input type="text" id="last-name" name="last_name" value="{{ form.last_name.value|default:user.last_name }}" required>
                        {% if form.last_name.errors %}
                            {% for error in form.last_name.errors %}
                                <span class="span-error" >{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    
                    <div class="input-group">
                        <label for="student-id">کد دانشجویی (غیرقابل تغییر - استعلام شده)</label>
                        <input type="text" id="student-id" value="{{ user.student_code }}" disabled style="background-color: #f0f0f0; cursor: not-allowed;">
                    </div>

                    <div class="input-group">
                        <label for="national-id">کد ملی (غیرقابل تغییر - استعلام شده)</label>
                        <input type="text" id="national-id"  value="{{ user.national_code }}" disabled style="background-color: #f0f0f0; cursor: not-allowed;">
                    </div>

                    <div class="input-group">
                        <label for="email">ایمیل</label>
                        <input type="text" id="email" name="email" value="{{ form.email.value|default:user.email|default:'' }}" >
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <span class="span-error" >{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>

                    {% if messages %}
                        {% for message in messages %}
                            <span class="{% if message.tags == 'success' %}span-success{% else %}span-error{% endif %}" style="display: block; margin-top: 15px; color: {% if message.tags == 'success' %}green{% else %}red{% endif %};">
                                {{ message }}
                            </span>
                        {% endfor %}
                    {% endif %}
                    
                    <div class="profile-actions-row">
                        <a href="{% url 'change_password_' %}" class="btn-secondary-sm">تغییر رمز ورود</a>
                        <button type="submit" class="btn-submit-sm">ذخیره تغییرات</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}