{% extends 'patterns/base.html' %}

{% block title %}ثبت‌نام{% endblock %}

{% block content %}
<div class="login-card"> 
    <h2 class="card-title">فرم ثبت نام دانشجویان نوورود</h2>

    <form action="#" method="POST" class="register-form">
        <div class="input-group">
            <label for="student-id">کد دانشجویی</label>
            <input type="text" id="student-id" name="student_id" placeholder="مثال: 403123456" required>
        </div>
        
        <div class="input-group">
            <label for="student-id">کد ملی</label>
            <input type="text" id="National-id" name="National_id" placeholder="مثال: 09123456789" required>
        </div>

        <div class="input-group">
            <label for="full-name">نام  </label>
            <input type="text" id="first-name" name="first_name" placeholder="نام  خود را وارد کنید" required>
        </div>

        <div class="input-group">
            <label for="full-name"> نام خانوادگی</label>
            <input type="text" id="last-name" name="last_name" placeholder="نام خانوادگی خود را وارد کنید" required>
        </div>
        
        <div class="input-group">
            <label for="password">رمز ورود</label>
            <input type="password" id="password" name="password" placeholder="حداقل ۶ کاراکتر" required>
        </div>

        <div class="input-group">
            <label for="password">تکرار رمز ورود</label>
            <input type="password" id="password" name="password" placeholder="حداقل ۶ کاراکتر" required>
        </div>

        <button type="submit" class="login-button">ثبت نام</button>
    </form>

    <p class="extra-text">
        قبلاً ثبت نام کرده‌اید؟ 
        <a href="{% url 'index' %}">ورود</a> کلیک کنید
    </p>
</div>
{% endblock %}